<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <input type="text" placeholder="请输入用户名/手机号">
        <input type="text" placeholder="请输入密码">
        <button id="adduser">注册</button>
        <a href="/index.html">已有账号请登陆</a>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/adduser.js"></script>
</body>
</html>