<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <input type="text" placeholder="请输入用户名">
        <input type="text" placeholder="请输入密码">
        <button id="loginbtn">登陆</button>
        <a href="/adduser.html">注册</a>
        <a href="/findworld.html">忘记密码</a>
    </div>
    <script src="./js/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>